@charset "utf-8";
/* CSS Document */
/* public */
body{font-size:12px; font-family:'微软雅黑',Verdana,Tahoma,Arial,Geogia,宋体,Sans-serif; margin:0 auto; padding:0; background:#fff;}
body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,span,input,textarea,tr,td,th,caption{padding:0; margin:0; border:0;}
body li{list-style:none}
body a{text-decoration:none;}
a:link,a:visited {
text-decoration:none; } 
a:focus {outline:0;/*兼容火狐浏览器*/ }  
br.clearfix{clear:both; font-size:0; line-height:0; height:0; border:0; margin:0px; padding:0px; font-size:0;}


.product{width: 958px;height: auto;margin: 0 auto; padding-bottom: 50px;}
.product_title{width: 903px;height: 97px;margin: 0 auto;padding-top: 65px;}
.product_video{width: 958px;height: 554px;padding-top: 5px;}
.verification_box{width: 926px;height: 1000px;margin: 0 auto;}
.verification_box dl{width: 303px;height: 225px;float: left;margin-right: 8px;padding-top: 25px;}
.verification_box .last{margin: 0;}
.verification_box dd{width: 303px;height: 175px; cursor:pointer;}
.verification_box dt{width: 303px;height: 40px; cursor:pointer; position: relative;font-size: 14px;color: #00529b;font-weight: bold;text-indent: 10px;background: url(../images/product/product_icon.png) no-repeat right;line-height: 40px;}
.product_title02{width: 903px;height: 127px;background: url(../images/product/productTitle_bg02.jpg) no-repeat;margin: 30px auto;color: #00529a;text-align: center;}
.product_title02 .p1{font-size: 35px;line-height: 35px;padding: 10px 0;}
.product_title02 .p2{font-size: 55px;font-weight: bold;line-height: 55px;padding: 5px 0;}
.product_Similac{width: 958px;height: auto;}
.product_Similac .Similac_title1{font-size: 30px;line-height: 96px;font-weight: bold;color: #2abff0;background: url(../images/product/SimilacTitle_bg1.jpg) no-repeat right;width: 335px;height: 96px;margin: 10px auto;}
.product_Similac .similac_Table1{width: 908px;height: 1180px;margin: 20px auto;}
.product_Similac .Similac_title2{font-size: 30px;line-height: 84px;font-weight: bold;color: #2abff0;background: url(../images/product/SimilacTitle_bg2.jpg) no-repeat right;width: 335px;height: 84px;margin: 15px auto;}
.product_Similac .similac_Table2{width: 908px;height: 1120px;margin: 20px auto;}
.product_title03{width: 902px;height: 83px;background: url(../images/product/productTitle_bg03.jpg) no-repeat;font-size: 55px;color: #00529a;text-align: center;margin: 0 auto;line-height: 83px;}
.product_prove p{font-size: 18px;color: #00529a;font-size: 18px;font-weight: bold;height: 18px;width: 80px;line-height: 18px;padding: 40px 0 0 40px;}
.product_prove .prove_list{width: 918px;margin: 0 auto;}
.product_prove .prove_list ul{width: 444px;float: left;margin-right: 15px;padding: 10px 0;height: 798px;}
.product_prove .prove_list ul li{width: 444px;padding: 5px 0;}
.product_prove .prove_list ul li table{width: 400px;}
.product_prove .prove_list ul li table td{height: 24px;font-size: 14px;color: #333333;}

#screen{ background:#000; position:absolute; width:100%; height:100%; z-index:10; top:0; left:0; opacity:0.7;}
#screen_img_pop{ position:absolute; left:50%; z-index:100; top:50%;}
.loading{ background:url(../images/product/loading.gif) no-repeat; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px;}

#screen_img_container{box-shadow: 0px 0px 20px #000; background:#fff;}
#screen_img_container #screen_left{ background:url(../images/product/verification_prev.png) no-repeat; width:76px; height:76px; position:absolute; z-index:1; margin:-38px 0 0 0; top:50%; left:-40px; display:none;}
#screen_img_container #screen_right{ background:url(../images/product/verification_next.png) no-repeat; width:76px; height:76px; position:absolute; z-index:1; margin:-38px 0 0 0; top:50%; right:-40px; display:none;}

#screen_img_container #screen_close{ background:url(../images/product/verification_close.png) no-repeat; width:38px; height:38px; position:absolute; right:10px; top:10px; display:none;}

.box_nav { padding:650px 0px 0px 288px; width:255px; height: 82px; }
.box_nav li { width:51px; height: 41px; float: left;}

#videoPop { width:  1000px; height: 600px; position: absolute; left:0px; top:0px;}
#videoCont { width:985px; height: 600px;}


