@charset "utf-8";
/* public */
body{font-size:12px; font-family:'微软雅黑',Verdana,Tahoma,Arial,Sans-serif; margin:0 auto; padding:0; background:#fff;}
body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,span,input,textarea,tr,td,th,caption{
	padding:0;
	margin:0;
	border:0;
}
body li{list-style:none}
body a{text-decoration:underline;}
a:link,a:visited {
text-decoration:underline; } 
a:focus {outline:0;/*兼容火狐浏览器*/ }  
body img {border:none; max-width: 100%;}
br.clearfix{clear:both; font-size:0; line-height:0; height:0; border:0; margin:0px; padding:0px; font-size:0;}
a {font-size: 14px; color: #00529b;}
a:visited {color: #00529b;}
a:hover {color: #00529b;}
a:active {color: #00529b;}
.topMenuFloatMark a { text-decoration: none; }
#headerTopLink a,#header a,.topMenuFloatMark a { font-size: 12px;}

/*二级转奶*/
.feed_changeHeader{width:100%; min-width:915px; height:322px; padding-top:16px;  background:#fff  url(../images/breastfeed/changeHeader.jpg) center bottom no-repeat;}

.feed_change{width:915px; height:auto; margin:0 auto;}
.feed_change .feed_changeContent{
	width:915px;
	height:auto;
	padding:40px 0 88px 0;
}
.feed_changeContent .feed_changeBox{
	width:275px;
	height:auto;
	float:left;
	margin-right:40px;
	padding-bottom:53px;
	font-size:14px;
	display:block;
}
.feed_changeBox .feed_changeBox_img{width:275px; height:107px;}
.feed_changeBox .feed_changeBox_header{width:275px; height:auto; font-weight:bold; color:#00529b; line-height:14px; padding:24px 0 10px 0;}
.feed_changeBox .feed_changeBox_msg{
	width:275px;
	height:85px;
	line-height:22px;
	padding-bottom:10px;
}
.feed_changeBox .feed_changeBox_btn{width:275px; height:20px; line-height:20px;}
.feed_changeBox .feed_changeBox_btn a{ color:#2abff0; text-decoration: underline;}

/*转奶-固体食物*/
.solid{width:916px; height:auto; margin:0 auto; padding-bottom:80px; background:#fff;}
.solid_header{ width:916px; height:433px; padding-top:40px; background:url(../images/breastfeed/headerbg.jpg) bottom center no-repeat;}
.solid_header .header_left{ float:left; width:500px;}
.solid_header .header_right{ float:left; width:416px; height:383px;}
.header_left .header_left_p1{font-size:45px; font-weight:bold; color:#00529b; line-height:45px; height:50px; width:405px; padding-top:55px; border-bottom:1px solid #00529b;}
.header_left .header_left_p2{
	font-size:18px;
	line-height:35px;
	font-weight:500;
	color:#585858;
}
.header_left .header_left_p3{font-size:24px; line-height:24px; font-weight:bold; color:#00529b; padding:36px 0 16px 0;}
.header_left .header_left_p4{font-size:14px; line-height:24px; color:#585858; padding-right:52px;}
.solid_content .h1{font-size:24px; font-weight:bold; color:#00529b; line-height:50px;}
.solid_content .h2{font-size:18px; font-weight:600; color:#00529b; line-height:30px;}
.solid_content .a1{font-size:14px; color:#00529b; text-decoration:underline; line-height:24px; margin-left:18px;}
.solid_content .p5{font-size:14px; color:#585858;}
.solid_content .p6{font-size:14px; color:#585858; list-style:disc; margin-left:18px;}
.solid_content .content_nav{ padding-top:5px; height:150px; width:400px;}
.solid_content .content_nav li{list-style:disc;}
.solid_content .solid_box{padding-top:40px; width:916px;}
.solid_content .solid_box p{padding-bottom:20px;}
.solid_content .solid_box .p{padding-bottom:20px;}
.solid_content .solid_box .box_nav{ padding-top:5px; width:400px;}
.solid_content .solid_box .box_nav li{list-style:disc;}
/*转奶-较大宝宝*/
.big{width:916px; height:auto; margin:0 auto; padding-bottom:80px; background:#fff;}
.big_header{ width:916px; height:433px; padding-top:40px; background:url(../images/breastfeed/headerbg.png) bottom center no-repeat;}
.big_header .header_left{ float:left; width:500px;}
.big_header .header_right{ float:left; width:416px; height:383px;}
.header_left .header_left_p1{font-size:45px; font-weight:bold; color:#00529b; line-height:45px; height:50px; width:405px; padding-top:55px; border-bottom:1px solid #00529b;}
.header_left .header_left_p2{
	font-size:18px;
	line-height:35px;
	font-weight:500;
	color:#585858;
}
.header_left .header_left_p3{
	font-size:24px;
	line-height:24px;
	font-weight:bold;
	color:#00529b;
	padding:36px 0 16px 0;
}
.header_left .header_left_p4{
	font-size:14px;
	line-height:24px;
	color:#585858;
	padding-right:20px;
}
.big_content .h1{font-size:24px; font-weight:bold; color:#00529b; line-height:50px;}
.big_content .h2{font-size:18px; font-weight:600; color:#00529b; line-height:30px;}
.big_content .a1{font-size:14px; color:#00529b; text-decoration:underline; line-height:24px; margin-left:18px;}
.big_content .p5{font-size:14px; color:#585858;}
.big_content cite{font-size:14px; color:#585858; font-size:11px; font-style:normal;}
.big_content .p6{font-size:14px; color:#585858; list-style:disc; margin-left:18px;}
.big_content .link, .big_content .link:hover, .big_content .link:active{font-size:14px; color:#0000ff; text-decoration:underline;}
.big_content .content_nav{ padding-top:5px; height:130px; width:400px;}
.big_content .content_nav li{list-style:disc;}
.big_content .big_box{padding-top:40px; width:916px;}
.big_content .big_box p{padding-bottom:20px;}
.big_content .big_box .p{padding-bottom:20px;}
.big_content .big_box .box_nav{ padding-top:5px; width:400px;}
.big_content .big_box .box_nav li{list-style:disc;}
/*二级配方奶粉*/
.feed_formulaHeader{width:100%; min-width:915px; height:323px; padding-top:15px;  background:#fff  url(../images/breastfeed/formulaHeader.jpg) center bottom no-repeat;}
.feed_formula{width:915px; height:auto; margin:0 auto;}
.feed_formula .feed_formulaContent{
	width:915px;
	height:auto;
	padding:40px 0 88px 0;
}
.feed_formulaContent .feed_formulaBox{
	width:275px;
	height:auto;
	float:left;
	margin-right:40px;
	padding-bottom:53px;
	font-size:14px;
	display:block;
}
.feed_formulaContent .last{margin-right:0;}
.feed_formulaBox .feed_formulaBox_img{width:275px; height:107px;}
.feed_formulaBox .feed_formulaBox_header{width:275px; height:auto; font-weight:bold; color:#00529b; line-height:14px; padding:24px 0 10px 0;}
.feed_formulaBox .feed_formulaBox_msg{
	width:275px;
	height:85px;
	line-height:22px;
	padding-bottom:10px;
}
.feed_formulaBox .feed_formulaBox_btn{width:275px; height:20px; line-height:20px;}
.feed_formulaBox .feed_formulaBox_btn a{ color:#2abff0; text-decoration: underline;}
/*配方奶粉-选择和使用婴幼儿配方奶粉*/
.choose{width:916px; height:auto; margin:0 auto; padding-bottom:80px; background:#fff;}
.choose_header{ width:916px; height:433px; padding-top:40px; background:url(../images/breastfeed/headerbg.jpg) bottom center no-repeat;}
.choose_header .header_left{ float:left; width:500px;}
.choose_header .header_right{ float:left; width:416px; height:383px;}
.header_left .header_left_p1{
	font-size:40px;
	font-weight:bold;
	color:#00529b;
	line-height:45px;
	height:50px;
	width:480px;
	padding-top:10px;
	border-bottom:1px solid #00529b;
}
.header_left .header_left_p2{
	font-size:18px;
	line-height:35px;
	font-weight:500;
	color:#585858;
}
.header_left .header_left_p3{
	font-size:22px;
	line-height:24px;
	font-weight:bold;
	color:#00529b;
	padding:36px 0 0 0;
}
.header_left .header_left_p4{
	font-size:14px;
	line-height:24px;
	color:#585858;
	padding-right:45px;
}
.choose_content .h1{font-size:24px; font-weight:bold; color:#00529b; line-height:50px;}
.choose_content .h2{font-size:18px; font-weight:600; color:#00529b; line-height:30px;}
.choose_content .a1{font-size:14px; color:#00529b; text-decoration:underline; line-height:24px; margin-left:18px;}
.choose_content .p5{font-size:14px; color:#585858;}
.choose_content cite{font-size:14px; color:#585858; font-size:11px; font-style:normal;}
.choose_content .p6{font-size:14px; color:#585858; list-style:disc; margin-left:18px;}
.choose_content .link, .choose_content .link:hover, .choose_content .link:active{font-size:14px; color:#0000ff; text-decoration:underline;}
.choose_content .content_nav{ padding-top:5px; height:130px; width:400px;}
.choose_content .content_nav li{list-style:disc;}
.choose_content .choose_box{padding-top:40px; width:916px;}
.choose_content .choose_box p{padding-bottom:20px;}
.choose_content .choose_box .p{padding-bottom:20px;}
.choose_content .choose_box .box_nav{ padding-top:5px; width:400px;}
.choose_content .choose_box .box_nav li{list-style:disc;}
.choose_tableL{ float:left; height:212px; width:528px;}
.choose_tableR{ float:left; width:388px; height:212px;}
.choose_tableL .t1{width:152px; height:27px; background:#bee2fe; padding-left:38px; font-size:14px; font-weight:bold; color:#000;}
.choose_tableL .t2-1{ width:159px; height:27px; background:#dff5fd; text-align:center; font-size:14px; font-weight:bold; color:#585858;}
.choose_tableL .t2-2{ width:159px; height:27px; background:#fff; text-align:center; font-size:14px; font-weight:bold; color:#585858;}
.choose_tableL .t3-1{ width:171px; height:27px; background:#dff5fd; text-align:center; font-size:14px; font-weight:bold; color:#585858;}
.choose_tableL .t3-2{width:171px; height:27px; background:#fff; text-align:center; font-size:14px; font-weight:bold; color:#585858;}
.choose_tableL .tt{font-size:14px; font-weight:bold; color:#00529b;}
/*奶瓶，冲调，营养*/
.wrapper{width: 1000px;margin: 0 auto;}
.h_top{height: 540px;width: 1000px;background: url(../images/breastfeed/headerbg.jpg) no-repeat;background-position: 47px 514px;}
.h_left{float: left;width: 435px;height: 351px;margin: 110px 0 0 40px;}
.l_title{width: 405px;height: 100px;line-height: 48px;border-bottom: 1px solid #00529b;font-size: 45px;font-weight: bold;color: #00529b;}
.l_p1{font-size: 18px;color: #585858;height: 24px;width: 405px}
.l_p2{font-size: 24px;font-weight: bold;color: #00529b;margin: 45px 0 0 0;width: 405px;height: 31px;line-height: 31px;}
.l_p3{width: 435px;font-size: 14px;color: #585858;line-height: 25px;}
.h_right{float: left;width: 416px;height: 383px;margin: 110px 0 0 55px;}

.h_content{width: 1000px;}
.h_box{
	width: 920px;
	margin: 0 0 50px 40px;
	_margin:0 0 0 80px;
}
.h_title{font-size: 24px;color: #00529b;font-weight: bold;margin: 50px 0 0 0;}
.h_p{color: #585858;font-size: 14px;line-height: 25px;padding: 10px 0 0 0;}

.b_title{width: 360px;}
.b_p1{font-size: 14px;color: #585858;width: 435px;line-height: 25px;margin: 20px 0 0 0;}
.b_p2{font-size: 24px;font-weight: bold;color: #00529b;margin: 50px 0 10px 0;}
.b_p3{font-size: 14px;color: #585858;}
.b_p4{font-size: 18px;color: #00529b;margin: 50px 0 10px 0;}
.b_p3 span{font-weight: bold;}
.b_nav{line-height: 20px;margin: 10px 0 10px 0;width: 500px;height: 132px;}
.b_nav li span{font-weight: bold;color: #00529b;}
.b_nav li a{color: #00529b;font-size: 14px;text-decoration: underline;}
.b_padding{padding: 10px 0 0 0;}
.b_p5{font-size: 10px;color: #585858;padding: 20px 0 0 0;}

.c_title{width: 315px}
.c_p1{width: 405px;}
/*css3*/
.tranX,.feed_changeBox_btn:hover img, .feed_formulaBox_btn:hover img 
{
	-webkit-backface-visibility:visible;
	-webkit-transform-origin:center center;
	-webkit-animation:demo 1s 0s infinite ease normal none ;
}
@-webkit-keyframes demo{
	0%{
	-webkit-transform:translateX(0px);
	} 30%{
	-webkit-transform:translateX(2px);
	} 78%{
	-webkit-transform:translateX(-2px);
	} 100%{
	-webkit-transform:translateX(0px);
	}
}
.tranX,.feed_changeBox_btn:hover img, .feed_formulaBox_btn:hover img
{
		-moz-backface-visibility:visible;
		-moz-transform-origin:center center;
		-moz-animation:demo 1s 0s infinite ease normal none ;
} 
@-moz-keyframes demo{
	0%{
	-moz-transform:translateX(0px);
	} 30%{
	-moz-transform:translateX(2px);
	} 78%{
	-moz-transform:translateX(-2px);
	} 100%{
	-moz-transform:translateX(0px);
	}
}
