@charset "utf-8";
/* CSS Document */
/* public */
body{font-size:12px; font-family:'微软雅黑',Verdana,Tahoma,Arial,Geogia,宋体,Sans-serif; margin:0 auto; padding:0; background:#fff;}
body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,span,input,textarea,tr,td,th,caption{padding:0; margin:0; border:0;}
body li{list-style:none}
body a{text-decoration:none;}
a:link,a:visited {
text-decoration:none; } 
a:focus {outline:0;/*兼容火狐浏览器*/ }  
br.clearfix{clear:both; font-size:0; line-height:0; height:0; border:0; margin:0px; padding:0px; font-size:0;}


/*母乳喂养*/
.feed{width: 916px;height: auto;margin: 0 auto;}
.feedHeader{width: 100%; min-width: 916px; height: 324px;background: url(../images/breastfeed/feed_header.jpg) no-repeat center center #f4f0ef;}
.feed .feedContent{width: 916px;height: auto;padding-top: 40px;}
.feed .feedContent .feed_box{width: 275px;height: auto;font-size: 14px;float: left;margin-right: 40px;padding-bottom: 40px;}
.feed .feedContent .last{margin-right: 0;}
.feed .feedContent .feed_box_img{width: 275px;height: 107px;}
.feed .feedContent .feed_box_header{width: 275px;height:auto;font-weight: bold;color: #00529b;line-height: 14px;padding: 24px 0 10px 0;}
.feed .feedContent .feed_box_msg{width: 275px;height:66px;line-height: 22px;padding-bottom: 10px;}
.feed .feedContent .feed_box_bottom{width: 275px;height: 20px;line-height: 20px;}
.feed .feedContent .feed_box_bottom a{color: #2abff0;text-decoration: underline;}

/*基本知识*/
.knowledge{width: 916px;height: auto;margin: 0 auto; padding-bottom: 60px;}
.knowledge_header{padding-top: 10px;height: 440px;width: 916px;background: url(../images/breastfeed/knowledge_header_bg.png) no-repeat;background-position: bottom;}
.knowledge_header .header_left{float: left;width: 500px;}
.knowledge_header .header_right{float: left;width: 416px;height: 383px;}
.knowledge_header .header_left .header_left_p1{font-size: 45px;font-weight: bold;color: #00529b;line-height: 45px;padding-top: 100px;height: 50px;border-bottom: 1px solid #00529b;width: 365px;}
.knowledge_header .header_left .header_left_p2{font-size: 18px;color: #585858;line-height: 24px;height: 24px;width: 200px;}
.knowledge_header .header_left .header_left_p3{font-weight: bold;font-size: 24px;color: #00529b;width: 500px;height: 24px;line-height: 24px;padding-top: 45px;}
.knowledge_header .header_left .header_left_p4{font-size: 14px;color: #585858;padding-top: 20px;line-height: 24px;width: 500px;height: 96px;}
.knowledge_header .header_left .header_left_p5{font-weight: bold;font-size: 45px;color: #00529b;width: 500px;height: 50px;line-height: 45px;padding-top: 100px;}
.knowledge_header .header_left .header_left_p6{font-weight: bold;font-size: 45px;color: #00529b;width: 410px;height: 50px;line-height: 45px;border-bottom: 1px solid #00529b;}
.knowledge_header .header_left .header_left_p7{font-size: 18px;color: #585858;padding-top: 10px;line-height: 24px;width: 400px;height: 96px;}
.knowledge_header .header_left .header_left_p8{font-size: 14px;color: #585858;padding-top: 10px;line-height: 20px;width: 500px;height: 20px;}
.knowledge_content .content_nav{padding-top: 5px;height: 149px;width: 500px;}
.knowledge_content .content_nav li{font-size: 14px;line-height: 20px;height: 24px;width:500px;background: url(../images/breastfeed/content_nav_icon.png) 0 10px no-repeat;padding-left: 15px;}
.knowledge_content .content_nav li a{color: #00529b;text-decoration: underline;}
.knowledge_content .knowledge_box{width: 916px;height: auto;padding-top: 30px; padding-bottom: 60px;}
.knowledge_content .knowledge_box h3{width: 916px;font-size: 24px;color: #00529b;line-height: 24px;height: 24px;padding: 10px 0;}
.knowledge_content .knowledge_box p{color: #585858;font-size: 14px;line-height: 20px;/*word-break:break-all;*/}
.knowledge_step h3{font-size: 18px;color: #00529b;padding: 20px 0 10px 0;}
.knowledge_step p{font-size: 14px;line-height: 20px;color: #585858;word-break:break-all;}
.knowledge_tips h3{font-size: 18px;color: #00529b;padding: 20px 0 10px 0;}
.knowledge_tips p{font-size: 14px;line-height: 20px;color: #585858;word-break:break-all;background: url(../images/breastfeed/knowledge_tips_icon.png) 0 8px no-repeat;padding-left: 12px;}
.knowledge_box table .knowledge_box_td{color: #00529b;font-size: 14;font-weight: bold;height: 40px;}
.knowledge_box table .table_title{color: #000;font-weight: bold;background-color: #bee2fe;border-bottom: 1px solid #fff;}
.knowledge_box table .table_single{background-color: #dff5fd;}
.knowledge_box table td{padding-left: 24px;color: #585858;height: 30px;font-size: 14px;border-right: 2px solid #fff;}

.posture_msg{font-size: 14px;color: #585858;height: 24px;line-height: 24px;width: 916px;}
.posture_box{width: 916px;height: auto;padding: 60px 0 55px 0;border-bottom: 1px solid #dedede;color: #585858;font-size: 14px;}
.posture_box h3{font-size: 24px;font-weight: bold;color: #00529b;height: 50px;}
.posture_box_left{float: left;width: 540px;color: #585858;font-size: 14px;margin-right: 40px;}
.posture_box_right{float: left;width: 310px;height: 214px;}
.aq_box{margin: 50px 0 0 0;}
.aq_box_q{background: url(../images/breastfeed/Q_icon.jpg) no-repeat;height: 56px;padding-left: 60px;}
.aq_box_q div{padding-top: 20px;font-size: 24px;font-weight: bold;color: #00529b;}
.aq_box_a{background: url(../images/breastfeed/A_icon.jpg) no-repeat;height: auto;padding-left: 60px;margin-top: 20px;}
.aq_box_a div{font-size: 14px;padding-top: 20px;}
.problem_title{color: #00529b;font-size: 24px;font-weight: bold;}

/*css3*/
.tranX,.feed_box_bottom:hover img 
{
	-webkit-backface-visibility:visible;
	-webkit-transform-origin:center center;
	-webkit-animation:demo 1s 0s infinite ease normal none ;
}
@-webkit-keyframes demo{
	0%{
	-webkit-transform:translateX(0px);
	} 30%{
	-webkit-transform:translateX(2px);
	} 78%{
	-webkit-transform:translateX(-2px);
	} 100%{
	-webkit-transform:translateX(0px);
	}
}
.tranX,.feed_box_bottom:hover img
{
		-moz-backface-visibility:visible;
		-moz-transform-origin:center center;
		-moz-animation:demo 1s 0s infinite ease normal none ;
} 
@-moz-keyframes demo{
	0%{
	-moz-transform:translateX(0px);
	} 30%{
	-moz-transform:translateX(2px);
	} 78%{
	-moz-transform:translateX(-2px);
	} 100%{
	-moz-transform:translateX(0px);
	}
}