@charset "utf-8";
/* CSS Document */
/* public */
body{font-size:12px; font-family:'微软雅黑',Verdana,Tahoma,Arial,Geogia,宋体,Sans-serif; margin:0 auto; padding:0; background:#fff;}
body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,span,input,textarea,tr,td,th,caption{padding:0; margin:0; border:0;}
body li{list-style:none}
body a{text-decoration:none;}
a:link,a:visited {
text-decoration:none; } 
a:focus {outline:0;/*兼容火狐浏览器*/ }  
br.clearfix{clear:both; font-size:0; line-height:0; height:0; border:0; margin:0px; padding:0px; font-size:0;}

/*隐私条款*/
.privacyPolicy{width: 904px;height: auto;margin: 0 auto;padding-top: 65px; padding-bottom: 60px;}
.privacyPolicy .policyHeader{width: 904px;height: 41px;font-size: 30px;line-height: 30px;color: #00529b;border-bottom: 7px solid #ccdceb;}
.privacyPolicy .policyHeader img{position: relative;top: 9px;left: 15px;}
.policyContent{width: 904px;height: auto;}
.policyContent .policy_msg{font-size: 14px;color: #202020;padding-top: 24px;line-height: 24px;}
.policyContent .policy_msg a{color: #00f;text-decoration: underline;}
.policy_box{width: 904px;height: auto;padding-top: 30px;}
.policy_box h3{color: #00529b;font-size: 22px;width: 904px;height: 30px;padding-bottom: 5px;}
.policy_box p{color: #202020;line-height: 24px;font-size: 14px;}

 /*在线条款*/
.onlineTermContent{width: 904px;height: auto;}
.onlineTerm_msg{width: 904px;font-size: 14px;color: #202020;line-height: 24px;padding-top: 20px;}

/*选择国家*/
.country{width: 904px;margin: 0 auto; padding-bottom: 370px;}
.countryHeader{font-size: 36px;width: 615px; margin: 0 auto;padding-top: 170px; height:50px; line-height:50px;}
.countryHeader div {float:left;}
.countryHeader div.confloat01{width:180px;}
.countryHeader div.confloat02{width:363px; position:relative; top:-5px;}
.countryHeader div.confloat03{width:72px;}
/*.countryHeader img { position: relative; top:5px;}*/
.countryMsg{font-size: 18px;text-align: center;padding-top: 5px;}
.countryContainer{margin: 20px auto 0 auto;width:376px;height:auto;}
.countrySelect{font-size: 16px;width: 292px;height: 40px;float: left;}
.go_btn{width: 84px;height: 40px;float: left;cursor: pointer;}

.jspDrag{background-color: #959595;}
.jspTrack{background: #eee;}
.jspVerticalBar{width: 8px;}
dl.select{ width:292px;position:relative; z-index:10;}
dl.select dt{height:40px; padding:0 0 0 15px; color:#64676d; line-height:40px; cursor:pointer; background: url(../images/select_bg.png) no-repeat ;font-size: 15px;}
/*dl.select dt.hover,dl.select dt.current{ background: url(../images/search_icon2.jpg) no-repeat;background-position: 166px 1px;}*/
dl.select dd{ position:absolute; left: 3px; top:40px; width:292px; height:352px; overflow:hidden; display:none; z-index:2;font-size: 15px;background: url(../images/option_bg.png) no-repeat; background-size:292px 352px;}
dl.select dd a{ display:block; height:32px; line-height:32px; padding:0 0 0 15px; color:#737171; width:277px;border-bottom: 1px solid #dfdfdf;}
dl.select dd a:hover{ background: url(../images/hover_bg.png) no-repeat; color:#000;}
dl.select dd .list{ width:292px; height:352px;}