@charset "utf-8";
/* public */
body{font-size:12px; font-family:'微软雅黑',Verdana,Tahoma,Arial,Sans-serif; margin:0 auto; padding:0; background:#fff;}
body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,span,input,textarea,tr,td,th,caption{padding:0; margin:0; border:0;}
body li{list-style:none;}/*disc*/
body a{text-decoration:none}
a:focus {outline:0;/*兼容火狐浏览器*/ }  
body img {border:none;}
br.clearfix{clear:both; font-size:0; line-height:0; height:0; border:0; margin:0px; padding:0px; font-size:0;}

/*uslife文章首页列表*/
#uslifeWrapper{width:842px; height:auto; margin:20px auto; margin-bottom:50px;}
#uslifeWrapper .topBanner{width:842px; height:417px;}
#uslifeWrapper .articlesList{width:842px; height:630px; padding:10px 0; border-bottom:2px solid #8f8f8f;}
#uslifeWrapper .articlesList ul{width:209px; height:630px; float:left; border-right:2px solid #8f8f8f;}
#uslifeWrapper .articlesList ul.lastUl{border:0;}
#uslifeWrapper .articlesList .articleTitle{width:195px; padding-top:10px; margin:0 auto;}
#uslifeWrapper .articlesList .articleTitle .pStyle01{font-size:15px; line-height:22px;}
#uslifeWrapper .articlesList .articleTitle .pStyle02{font-size:27px; line-height:36px;}
#uslifeWrapper .articlesList .articleTitle span{color:#ffba00;}
#uslifeWrapper .articlesList .articleTime{font-size:12px; line-height:22px; color:#6a6a6a; width:195px; margin:0 auto;}
#uslifeWrapper .articlesList .articlePic{width:195px; margin:10px auto;}
#uslifeWrapper .articlesList .articleMain{width:185px; color:#6a6a6a; font-size:12px; line-height:22px; margin:0 auto;}
#uslifeWrapper .articlesList .readMore{width:93px; height:25px; padding:15px 0 5px 100px;}
#uslifeWrapper .topicList{width:842px; height:333px; padding-top:10px;}
#uslifeWrapper .topicList ul{width:270px; height:333px; float:left; padding-right:16px;}
#uslifeWrapper .topicList ul.lastUl{padding:0;}
#uslifeWrapper .topicList .topicPic{width:270px; height:133px;}
#uslifeWrapper .topicList .topicName{width:270px; height:30px; border-bottom:2px solid #8f8f8f; font-size:14px; line-height:35px; font-weight:bold;}
#uslifeWrapper .topicList .topicCont{width:270px; height:auto; font-size:12px; line-height:22px; color:#838383;}
#uslifeWrapper .bottomDiv{width:842px; height:141px; margin-bottom:40px; position:relative; background:url(../images/uslife/uslife_bottom.jpg) no-repeat;}
#uslifeWrapper .bottomDiv a.officalBuy{width:274px; height:141px; position:absolute; right:0; display:block; text-indent:-999em;}
#uslifeWrapper .bottomDiv a.officalCall{width:140px; height:141px; position:absolute; left:0; display:block; text-indent:-999em;}
/*uslife文章详细*/
#articleDetail{width:842px; height:auto; margin:20px auto; margin-bottom:50px;}
.articleCont{width:634px; float:left; margin-right:18px; padding-top:15px; background:url(../images/uslife/uslife_articleDetail_bg.jpg) no-repeat top; font-size:12px; color:#000; line-height:22px;}
.articleCont .articleTitle{width:634px; height:90px; border-bottom:1px solid #6a6a6a; text-align:center;}
.articleCont .articleTitle .titleCont{width:634px; height:68px; line-height:68px; font-size:32px;}
.articleCont .articleTitle .articleday{width:634px; height:22px; line-height:22px; color:#6a6a6a;}
.articleCont .detailContent{width:634px; padding:10px 0; border-bottom:1px solid #000; display:none;}
.articleCont .detailContent img{width:100%;}
.articleCont .detailContent .detailCell{width:634px; height:auto; padding:10px 0;}
.articleCont .detailContent .detailCell .detailStep{font-size:18px; font-weight:bold;}
.articleCont .detailContent .detailCell .mmageCont{width:562px; height:2034px; margin:0 auto;}/*妈龄*/
.bottomCont{width:634px; height:115px; margin-top:10px; border-bottom:2px solid #000; position:relative;}
.bottomCont .shareDiv{width:130px; height:25px; position:absolute; top:0; left:0; background:url(../images/uslife/share_icon.jpg) no-repeat right; line-height:25px; color:#737373;}
.bottomCont .shareDiv .shareText{width:80px; float:left;}
.bottomCont .shareDiv .shareSina{width:25px;height:25px; display:block; float:left;}
.bottomCont .shareDiv .shareQq{width:25px;height:25px; display:block; float:left;}
.bottomCont .backBtn{width:69px; height:22px; position:absolute; top:0; right:0;}
.bottomCont .articlePage{width:auto; height:30px; margin:0 auto; padding-top:65px;}
.bottomCont .articlePage a{width:28px; height:28px; border:1px solid #000; text-align:center; line-height:28px; display:block; float:left; margin:0 5px; color:#000; background-color:#fff;}
.bottomCont .articlePage a:hover,.bottomCont .articlePage a.current{background-color:#ffb60f;}
.bottomCont .prevArticle{width:55px; height:30px; color:#737373; line-height:30px; display:block; position:absolute; left:10px; bottom:10px; text-align:center;}
.bottomCont .nextArticle{width:55px; height:30px; color:#737373; line-height:30px; display:block; position:absolute; right:10px; bottom:10px; text-align:center;}
.rightMore{width:190px; height:auto; float:left;}
.rightMore .moreArticle{width:190px; height:37px; background:url(../images/uslife/uslife_articleDetail_more.jpg) no-repeat; padding-top:40px;}
.rightMore .moreCell{width:190px; height:auto; border-bottom:1px solid #6a6a6a; margin:10px 0;}
.rightMore .moreCell .moreIntro{font-size:12px; color:#3d3d3d; line-height:22px; padding:5px 0}
.rightMore .moreCell .readDetail{width:93px; height:25px; margin-bottom:10px;}
.rightMore .lastCell{width:190px; height:297px; background:url(../images/uslife/more_article_tip_lastbg.jpg) no-repeat;}
.rightMore .lastCell a{width:190px; height:297px; display:block;}
.rightMore img{width:190px; height:152px;}